@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: "Quicksand", sans-serif;
    
}


body{
    background-color: #fdfcfc;
    
    
}


header.classeDoHeader{
    height: auto;
}

nav.fundoNavBar{
    display: flex;
    background-color: #fdfcfc;
    height: 10vh;
    align-items: center;
    width: 100%;
    position: fixed;
    z-index: 100;
}


ul.navBarLista{
    display: flex;
    gap: 20%;
    margin-left: 35%;
    
}

a.classeDosLinksDaLista{
    color: #374f57;
    transition: color ;
    cursor: pointer;
}

a.classeDosLinksDaLista:hover{
    color: rgb(0, 0, 0);
    text-decoration: underline;
}


li.lista{
    font-size: 1rem;
    transition: 0.3s ;
    user-select: none;
    
}



a.logoDoSite{
    margin-left: 2%;
    font-size: 2rem;
    user-select: none;
    color: #374f57;
}

div.palavrasChaves{
    margin-left: 2%;
    
}

section.section1{
    height: auto;
    width: auto;
    
    display: flex;
    justify-content: center;
}

div.titulo{
    
    max-height: auto;
    max-width: auto;
    display: flex;
    align-items: center;
    margin-top: 5%;
}

h1.textoTitulo{
    font-size: 4rem;
    color: #374f57;
}

section.section2{
    
    max-height: auto;
    max-width: auto;
    display: flex;
    justify-content: center;
}

div.divDosCards{
    
    margin-top: 3%;
    
    padding: 2%;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

div.cards{
    height: 80vh;
    width: 100%;
    max-width: 600px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

@media (max-width: 800px) {
    div.divDosCards {
        flex-wrap: wrap;
    }

    div.cards{
        width: 80%;
    }

    section.section1{
        padding: 10%;
    }

    h1.textoTitulo{
        font-size: 3rem;
    }

}
div.cards:hover{
    transform: translateY(-10px);
}

img.imagemCard{
    height: 40vh;
    width: 100%;
    border-radius: 5px 5px 0px 0px;
}

h3.tituloCard{
    padding: 2%;
    font-size: 1.2rem;
}

p.conteudoCards{
    padding: 2%;
}