*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    text-decoration: none;
}


header.classeDoHeader{
    height: 100vh;

}


nav.navbar{
    display: flex;
    justify-content: space-between;
    background-color: tomato;
    align-items: center;
   height: 100px;
   width: 100vw;
}

ul.navbarLista{
    display: flex;
    margin-right: 2%;
}

li.lista{
    margin-left: 15px;
    font-size: 2rem;
    
}

a.classeDosLinksDaLista{
    color: azure;
    transition: color 0.7s ease;
    transform: box-shadow 0.7s ease;
    cursor: pointer;
}

a.classeDosLinksDaLista:hover{
    color: rgb(71, 71, 71);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}


img.logoImagem{
    width: 130px;
    margin-left: 10px;
}

