*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: #d8d3d3;

}

div.primeiraDiv{
    border: 1px solid rgb(51, 50, 50) ;
    display: block;
    width: 430px;
    border-radius: 10px;
   
}

p.titulo{
    font-size: 35px;
    color: #5a5a5a;
    margin-left: 7%;
    margin-top: 15px;
}

input[type="email"], input[type="password"]{
    background: #d8d3d3;
    border: 0.5px solid rgb(159, 155, 155);
    width: 90%;
    height: 30px;

}

input:focus{
    outline: none;
    
}

p.classetamanhodafonte{
    color: #5a5a5a;
    font-size: 15px;
   margin-top: 10px;
}

div.segundaDiv{
    margin-left: 7%;
}

div.divMae2{
    display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
}
Label.classeDosLabels{
    
    transition: box-shadow 0.3s ease;

    
}

Label.classeDosLabels:hover{
    box-shadow: 0px 5px 10px rgb(0, 0, 0);
}

Label.classeDosLabels2{
    display: flex;
    margin-top: 2%;
    margin-right: 4%;
    margin-bottom: 4%;
    
}

p.classeDosParagrafos{
    font-size:13px;
    margin-left: 4px;
}

div.terceiraDiv{
    margin-left: 7%;
    display: flex;
}
div.div4{
    display: flex;
    height: 20px;
    justify-content: center;
    align-items: center;
 }
 button.classeInputBotao{
    width: 85%;
    height: 30px;
    margin-left: 7%;
    margin-bottom: 4%;
    border-radius: 5px;
    border: #5a5a5a;
    
}

button.classeInputBotao{
    transition: background-color 0.7s ease;
    transform: box-shadow 0.7s ease;
    cursor: pointer;
}

button.classeInputBotao:hover{
    background-color:#b5b1b1;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    
}
a.classeDoLink{
    font-size: 10px;
    color: #1a1919;
    
}